{% extends 'base.html' %}
{% load static %}
{% block content %}

	<title>LabPlay</title>
	<page>
		<h-title>ผู้จัดทำ</h-title>
		<container class="grid is-full">
			<box-list img="/static/pic/admin_1.jpg" name="นายเป็นเอก สิทธิมงคล" type="ผู้จัดทำ"></box-list>
			<box-list img="/static/pic/admin_2.jpg" name="นายธนพงษ์ สุปินตา" type="ผู้จัดทำ"></box-list>
			<box-list img="/static/pic/admin_3.jpg" name="เด็กชายพีรณัฐ สุกใส" type="ผู้จัดทำ"></box-list>
			<box-list img="/static/pic/admin_4.jpg" name="ครูวิรัชชัย จันต๊ะวงศ์" type="ครูที่ปรึกษา"></box-list>
		</container>
		<container>
			<p align="center">
				โรงเรียนยุพราชวิทยาลัย
				<br>238 ถนนพระปกเกล้า ตำบลศรีภูมิ อำเภอเมือง จังหวัดเชียงใหม่ 50200
			</p>
			<p align="center">
				โทรศัพท์: 053-418673-5
				<br>โทรสาร: 053-418673-5 ต่อ 111
				<br>Email: <a href="mailto:yrc@yupparaj.ac.th">yrc@yupparaj.ac.th</a>
			</p>
		</container>
	</page>

	<!--SCRIPT-->
{% endblock %}