{% load static %}
<!DOCTYPE html>
<html lang="th">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/css.css' %}" type="text/css">
		<link rel="icon" href="{% static 'pic/logo.jpg' %}">
		<link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
		<link href="{% static 'validator.css' %}" rel="stylesheet">
		<script src="{% static 'script/vue.js' %}"></script>
		<script src="{% static 'script/jquery.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	</head>
	<body style="background-color:#008096">
		<div id="app">
			<!--PAGE-->
            <page class="is-full">
				<title>:::{{massage}}</title>
				<div class="is-middle" style="width:400px;text-align:center">
					<span id="logo" style="width:150px;height:150px;margin:auto"></span>
					<br><br><br><form class="pin-field">
						<input type="textbox" placeholder="กรอกชื่อเล่นของท่าน" style="margin-bottom:15px;"/>
						<br><button type="submit">เข้าสู่เกม</button>
					</form>
				</div>
			</page>
        </div>
		<script type="text/javascript" src="{% static 'script/app.js' %}"></script>
    </body>
</html>
	